<div class="container animated bounceIn">
    <div class="row justify-content-center py-3">
        <div class="col-8">
            <p class="fin-text">
                La encuesta fue completada, agradecemos de antemano que hayas tomado el tiempo de contestar esta encuesta, nos ayudara a mejorar nuestro servicio!
            </p>
        </div>
    </div>
    <div class="row justify-content-center pb-2">
        <div class="col-4">
            <img src="./assets/img/gracias.png" class="img-fluid m-auto d-block w-100">
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <button (click)="reiniciar()" type="button" class="btn btn-raised btn-success w-100 m-auto d-block animated infinite pulse">
          Nueva Encuesta
        </button>
        </div>
    </div>
</div>